#settings {
	margin: 20px;
}

.settings-card {
	border-radius: 10px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
	border-width: 0;
	
	padding: 25px;
	max-width: 500px;
	margin: auto;
	margin-top: 40px;
}

.settings-card h2 {
	color: var(--tertiary-color);
	margin: 0;
	font-size: 28px;
}

.settings-card h3 {
	color: var(--quaternary-color);
	text-align: left;
	font-size: 20px;
	width: 100%;
}

.settings-card .settings-content {
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#settings table {
	width: 100%;
	max-width: 400px;
}

#settings input[type='color'] {
	width: 40px;
	height: 40px;
	border-width: 0px;
	padding: 0px;
	margin: 0;
	background-color: var(--primary-color);
}

#settings select {
	padding: 5px;
	color: var(--ao-color);
	background-color: var(--primary-color);
}

#settings td {
	padding: 5px;
	white-space: nowrap;
	color: var(--ao-color);
}

#settings tr td:first-child {
	padding-right: 40px;
}

#settings tr td:nth-child(2) {
	text-align: right;
}

#settings #theme .default-button {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

#settings #password form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#settings #password input {
	display: block;
	padding: 8px;
	margin: 5px;
}

#settings #password input:not([type='submit']) {
	font-weight: 400;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--secondary-color);
	color: var(--secondary-color);
}

#settings #password input:invalid {
	border-color: #FF0000;
}