:root {
	--primary-color: white;
	--secondary-color: rgb(162, 0, 255);
	--primary-text-color: black;
	--secondary-text-color: rgb(85, 85, 85);
}

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#loading {
	width: 100%;
	text-align: center;
	font-size: 40px;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.default-button {
	border-width: 0px;
	color: var(--primary-color);
	background-color: var(--secondary-color);
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 4px;
	white-space: nowrap;	
}